@import './common.scss';

.header_ex_design {
    display: none;
    position: fixed;
    width: 100%;
    left:0; top: 0;
    background-color: black;
    z-index: 999999;
    font-family: $dot_font_dungGeunMo;
    .header_design {
        @include box_array;
        .nav_area_design {
            display: flex;
            justify-content: space-between;
            li {
                a {
                    padding: 15px 0;
                    display: block;
                    color: white;
                    font-size: 3.4rem;
                }
            }
        }
    }
}